/* body{
    background-color: azure;
    color: black;
} */
/* td{
    border: 2px solid black;
} */


/* p{
    background-color: antiquewhite;
}
a{
    background-color: blueviolet;
}
div{
    background-color: rgb(96, 84, 84);
}
span{
    background-color: blueviolet;
} */


/* 
.red{
    background-color: rgb(30, 14, 151);
}
#firstdiv{
    background-color: blue;
}
#Seconddiv{
    background-color: blue;
} */


body{
    background: darkgrey;
    color: black;
}
