*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    /* font-weight: bold; */
} 
.home{
    padding: 10px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 2px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    font-size: 9px;
}
.heading img{
    width: 30px;
}